<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台</title>
	<link rel="stylesheet" href="/stylesheets/houtai.css" />
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
	<div id="header">
		<div class="logo">
			<img src="/imgs/topLogo.png" alt="" />
		</div>
		<div class="license">
			<ul>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_08.png" alt="" />
					    <span>退出</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/qingchu.png" alt="" />
					    <span>清除缓存</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_07.png" alt="" />
					    <span>关于ECSHOP</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_007.png" alt="" />
					    <span>帮助</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_06.png" alt="" />
					    <span>查看网店</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_05.png" alt="" />
					    <span>管理员留言</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_04.png" alt="" />
					    <span>个人设置</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_03.png" alt="" />
					    <span>刷新</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_02.png" alt="" />
					    <span>记事本</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_01.png" alt="" />
					    <span>开店向导</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_09.png" alt="" />
					    <span class="yellow">更多模板堂产品</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
    <div id="menu">
    	<ul>
    		<li>
    			<a href="#">
    				<img src="/imgs/index-01.png" alt="" />
	    			<span>起始页</span>
    			</a>
    			<span class="menuFG"></span>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/imgs/index-02.png" alt="" />
	    			<span>设置导航栏</span>
    			</a>
    			<span class="menuFG"></span>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/imgs/index-03.png" alt="" />
	    			<span>商品管理</span>
	    			<span class="num">31</span>
    			</a>
    			<span class="menuFG"></span>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/imgs/index-04.png" alt="" />
	    			<span>订单管理</span>
	    			<span class="num">0</span>
    			</a>
    			<span class="menuFG"></span>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/imgs/index-05.png" alt="" />
	    			<span>广告管理</span>
	    			<span class="num">0</span>
    			</a>
    			<span class="menuFG"></span>
    		</li>
    		<li>
    			<a href="#">
    				<img src="/imgs/index-06.png" alt="" />
	    			<span>用户评论</span>
	    			<span class="num">0</span>
    			</a>
    			<span class="menuFG"></span>
    		</li>
    		<li><a href="#">用户评论</a></li>
    		<li><a href="#">商品列表</a></li>
    		<li><a href="#">会员列表</a></li>
    		<li><a href="#">商店设置</a></li>
    		<li><a href="#">移动版</a></li>
    		<li><a href="#">服务市场</a></li>
    	</ul>
    </div>
    <div id="container">
    	<div class="navL">
    		<h3>导航菜单</h3>
    		<div class="navList">
    			<ul class="nav-menu">
    				<li class="nav-child children1">商品管理
    				   <ul style="display: none;">
    				   	 <li class="list-item"><a href="http://localhost:8080/goods_list" target="mainContent">商品列表</a></li>
    				   	 <li class="list-item"><a href="http://localhost:8080/goods_add" target="mainContent">添加新商品</a></li>
    				   	 <li class="list-item"><a href="http://localhost:8080/goods_add" target="mainContent">商品分类</a></li>
    				   	 <li class="list-item"><a href="http://localhost:8080/goods_add" target="mainContent">用户评论</a></li>
    				   	 <li class="list-item"><a href="#">商品品牌</a></li>
    				   	 <li class="list-item"><a href="http://localhost:8080/goods_add" target="mainContent">商品类型</a></li>
    				   	 <li class="list-item"><a href="http://localhost:8080/goods_add" target="mainContent">商品类型</a></li>
    				   	 <li class="list-item"><a href="#">商品类型</a></li>
    				   	 <li class="list-item"><a href="#">商品类型</a></li>
    				   </ul>
    				</li>
    				<li class="nav-child children2">促销管理</li>
    				<li class="nav-child children3">订单管理</li>
    				<li class="nav-child children4">广告管理</li>
    				<li class="nav-child children5">报表统计</li>
    				<li class="nav-child children6">文章管理</li>
    				<li class="nav-child children7">会员管理</li>
    				<li class="nav-child children8">权限管理</li>
    				<li class="nav-child children9">商品管理</li>
    				<li class="nav-child children10">商品管理</li>
    				<li class="nav-child children11">商品管理</li>
    				<li class="nav-child children12">商品管理</li>
    				<li class="nav-child children13">商品管理</li>
    				<li class="nav-child children14">商品管理</li>
    				<li class="nav-child children15">商品管理</li>
    			</ul>
    		</div>
    	</div>
    	<div class="navC" id="toggle_navL">
    		<img src="/imgs/arrow_left.gif"/>
    	</div>
    	<iframe class="navR" name="mainContent"></iframe>
    </div>
</body>
<script>
	//级联菜单
	 $("li").click(function(e){
	 	var e=e || event;
	 	e.stopPropagation();
	 })
	$(".nav-child:has(ul)").click(function(){
		var index=$(this).index();
		if($(this).children("ul").css("display")=="none"){
			$(this).css({"background-image":"url(/imgs/menu1_1.png)","background-color":"#454545"});
			$(this).children("ul").css("background","#575757");
		}else{
			$(this).css({"background-image":"url(/imgs/menu_"+(index+1)+".png)","background-color":"#575757"})
		}
		$(this).children("ul").toggle(500);
	})
	//navL的显示隐藏
      $("#toggle_navL").click(function(){
		  $(".navL").toggle();
      })
</script>
</html>