<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台</title>
	<link rel="stylesheet" href="/stylesheets/houtai.css" />
</head>
<body>
	<div id="header">
		<div class="logo">
			<img src="/imgs/topLogo.png" alt="" />
		</div>
		<div class="license">
			<ul>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_08.png" alt="" />
					    <span>退出</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/qingchu.png" alt="" />
					    <span>清除缓存</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_07.png" alt="" />
					    <span>关于ECSHOP</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_007.png" alt="" />
					    <span>帮助</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_06.png" alt="" />
					    <span>查看网店</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_05.png" alt="" />
					    <span>管理员留言</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_04.png" alt="" />
					    <span>个人设置</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_03.png" alt="" />
					    <span>刷新</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_02.png" alt="" />
					    <span>记事本</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_01.png" alt="" />
					    <span>开店向导</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <img src="/imgs/topmune_09.png" alt="" />
					    <span>更多模板堂产品</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
    <div id="menu">
    	<ul>
    		<li>
    			<a href="#">
    				<img src="" alt="" />
    			</a>
    			<span>起始页</span>
    		</li>
    	</ul>
    </div>
</body>
</html>