<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>ECSHOP 管理中心 - 添加新商品 </title>
	<link rel="stylesheet" href="/stylesheets/iframe1.css" />
</head>
<body>
	<div id="main-content">
		<h2>
			<span class="actionS1"><a href="#">ECSHOP 管理中心</a></span>
			<span> - 添加新商品 </span>
			<span class="help-wd">
				<a href="#"><img src="/imgs/jnsy.png"/></a>
			</span>
			<span class="shop-list right">
				<a href="#">商品列表</a>
			</span>
		</h2>
	    <div class="tab-content">
	    	<div class="tab-bar">
	    		<p>
	    			<span class="current-wrap">通用信息</span>
	    			<span>详细描述</span>
	    			<span>其他信息</span>
	    			<span>商品属性</span>
	    			<span>商品相册</span>
	    			<span>关联商品</span>
	    			<span>配件</span>
	    			<span>关联文章</span>
	    		</p>
	    	</div>
	        <div class="tab-body">
	        	<form action="" enctype="multipart/form-data" method="post">
	        	    <table width="90%" align="center" class="infor-tab">
	        	    	<tr>
	        	    		<td class="label">商品名称：</td>
	        	    		<td class="td-message">
	        	    			<input type="text" name="goods-name"/>
	        	    			<div class="font-color">
	        	    				<img src="/imgs/color.gif" alt="" />
	        	    			</div>
	        	    			<select name="goods-name-style">
	        	    				<option selected="selected">字体样式</option>
	        	    				<option value="strong">加粗</option>
	        	    				<option value="em">斜体</option>
	        	    				<option value="u">下划线</option>
	        	    				<option value="strike">删除线</option>
	        	    			</select>
	        	    			<span class="require-field">*</span>
	        	    		</td>
	        	    	</tr>
	        	    	<tr>
	        	    		<td class="label">
	        	    			<a href="#" title="点击此处查看提示信息">
	        	    			   <img src="/imgs/wh.gif" style="display: inline-block;width:16px;height: 16px;vertical-align: middle;"/>
	        	    		    </a>商品货号：
	        	    		</td>
	        	    		<td>
	        	    			<input type="text" name="goods-sn" class="goods-sn"/>
	        	    			<span class="notice-span">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
	        	    		</td>
	        	    	</tr>
	        	    	<tr>
	        	    		<td class="label">商品分类：</td>
	        	    		<td>
	        	    			<select name="" style="width: 158px;height: 20px;">
	        	    				<option value="">请选择...</option>
	        	    				<option value="">服饰</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;衬衫</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;短袖衬衫</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长袖衬衫</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;裤子</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;休闲短裤</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牛仔裤</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阔腿裤</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;打底裤</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西裤</option>
	        	    				<option value="">休闲娱乐</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;手机</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;苹果</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;小米</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;电脑配件</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;鼠标</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;智能耳机</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电池</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内存卡</option>
	        	    				<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;硬盘</option>
	        	    			</select>
	        	    			<a href="#" title="添加分类" id="add-fenlei">添加分类</a>
	        	    			<span class="category_add">
	        	    				<input type="text"/>
	        	    				<a href="#" class="add">确定</a>
	        	    				<a href="#" class="add">分类管理</a>
	        	    				<a href="#" class="add"><<</a>
	        	    			</span>
	        	    			<span class="require-field">*</span>
	        	    		</td>
	        	    	</tr>
	        	    	<tr></tr>
	        	    	<tr></tr>
	        	    	<tr></tr>
	        	    	<tr></tr>
	        	    </table>
	        	</form>
	        	<div class="color-box" style="display: none;">
	        	    	<table width="93" border="1" cellpadding="0" cellspacing="0" bordercolor="#BDBBBC" style="border:2px #C5D9FE solid">
	        	    		<tr>
	        	    			<td style="background-color:#ffffff;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#c0c0c0;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#969696;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#808080;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#333333;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    		</tr>
	        	    		<tr>
	        	    			<td style="background-color:#cc99fe;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#993365;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#81007f;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#6766cc;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#343399;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    		</tr>
	        	    		<tr>
	        	    			<td style="background-color:#bbbbbb;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#00ccff;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#3366ff;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#0000fe;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#010080;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    		</tr>
	        	    		<tr>
	        	    			<td style="background-color:#cdffff;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#01ffff;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#33cbcc;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#008081;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#003265;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    		</tr>
	        	    		<tr>
	        	    			<td style="background-color:#cdffcc;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#00ff01;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#339967;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#008002;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#013300;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    		</tr>
	        	    		<tr>
	        	    			<td style="background-color:#fffe99;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#fffe03;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#99cd00;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#807f01;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#333301;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    		</tr>
	        	    		<tr>
	        	    			<td style="background-color:#ffcb99;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#ffcd00;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#ff9900;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#fd6600;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#993400;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    		</tr>
	        	    		<tr>
	        	    			<td style="background-color:#ff99cb;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#ff00fe;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#fe0000;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#800000;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    			<td style="background-color:#000000;border: 1px solid rgb(189, 187, 188);">&nbsp;</td>
	        	    		</tr>
	        	    		<tr>
	        	    			<td align="center" colspan="5" style="border: 1px solid rgb(189, 187, 188);">
	        	    				<font style="cursor:default">无样式</font>
	        	    			</td>
	        	    		</tr>
	        	    	</table>
	        	    </div>
	        </div>
	    </div>
	</div>
</body>
</html>