html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,img,input,figure{margin:0;padding:0}
*{ box-sizing:border-box;}
body{font-family: "微软雅黑";font-size:12px;display:flex;flex-direction: column;}
ul,ol,li{list-style:none;}
b{font-weight:100;}
em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a,u{text-decoration: none;}
a{   color: #fff;}
input{outline:none;}
img{display:block;border:0;}
html,body{width:100%;}
.left{float: left;}
.right{float: right;}

/*开始---------------------------------------------------------------*/
body{
	background: url(/imgs/body_bj.jpg);
    padding: 10px;
    min-width: 773px;
}
#main-content h2{
    border-bottom: 1px solid #ccc;
    color: #4c4c4c;
    font-size: 18px;
    padding: 7px 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
}
#main-content h2 .actionS1 a{
	color: #4c4c4c;
}
#main-content h2 .actionS1:hover a{
	color: #eb8a3d;
	text-decoration: underline;
}
#main-content h2 .help-wd{
	display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
#main-content h2 .help-wd img{
	display: inline-block;
}
#main-content h2 .shop-list a{
	display: block;
	height: 26px;
    line-height: 26px;
    padding: 0 10px 0 23px;
    background: #c43926 url(/imgs/jia.gif) no-repeat 6px center;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
}
#main-content .tab-content{
	background: #f3f3f3;
    border: 1px solid #d7d7d7;
    margin: 0 0 10px 0;
    padding: 1px;
}
.tab-content .tab-bar{
	margin-top: 0px;
    background: #efefef;
    padding-left: 10px;
    height: 39px;
    font-size: 14px;
    color: #787878;
    line-height: 39px;
}
.tab-bar p{
	margin: 2px 0 0 0;
}
.tab-bar p span{
	padding: 0 20px;
    text-align: center;
    font-size: 13px;
    float: left;
    display: block;
    float: left;
    color: #787878;
    line-height: 39px;
    cursor: hand;
    cursor: pointer;
}
.tab-bar p span.current-wrap{
	background: #fefefe;
    height: 39px;
    line-height: 39px;
    color: #000;
    font-weight: bold;
}
.tab-body{
	position: relative;
	padding: 10px;
    background: #fefefe;
}
/*infor-tab------------------------------------------------------*/
.tab-body form .infor-tab td.label{
	text-align: right;
    vertical-align: top;
    font-weight: bold;
    padding: 5px 1em;
    width: 30%;
    line-height: 30px;
}
.infor-tab td.td-message{
	display: flex;
	margin: 5px 0;
}
.infor-tab td.td-message input{
	border: 1px solid #a9a9a9;
	width: 195px;
	height: 22px;
	margin: 0 5px;
}
.infor-tab .font-color img,
.infor-tab select{
	margin: 0 5px;
}
.infor-tab .require-field{
	margin-left: 1em;
    font: 12px verdana;
    color: #FF0000;
}
.infor-tab .goods-sn{
	border: 1px solid #a9a9a9;
	width: 135px;
	height: 22px;
	margin: 5px 0 0 5px;
}
.infor-tab .notice-span{
	padding-top: 6px;
	display: block;
	color: #666;
}
#add-fenlei,
#add-brand,
.category_add .add{
	color: #335B64;
	margin: 0 5px;
    padding: 1px 5px;
    border: 1px solid #91C4D0;
    border-right: 2px solid #278296;
    border-bottom: 2px solid #278296;
    background: #DDEEF2;
    font-weight: 400;
}
.category_add input{
	width: 75px;
	height: 22px;
	border: 1px solid #a9a9a9;
}
.color-box{
	position: absolute;
	top:42px;
	left: 620px;
}
.add-button,input[type="reset"]{
	padding: 5px 15px 5px;
    margin: 2px 5px;
    border: none;
    background: #ff3f3f;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
}
.infor-tab select[name="shop-brand"]{
	width:105px ;
	height: 20px;
}
.infor-tab .brand-inp{
	width: 100px;
}
.infor-tab .sell-inp{
	width:135px ;
	height: 22px;
	padding-left: 3px;
}
.infor-tab .sales{
	font-size: 12px;
	padding: 0 5px;
}
.infor-tab .input02{
	margin-top: 8px;
	height: 22px;
	width: 63px;
}
.infor-tab .jiahao{
	color: #666;
}
.infor-tab .jiahao:hover{
	color: #ff3f3f;
	text-decoration: underline;
}
.infor-tab .promote{
	background: #ebebe4;
	border:1px solid #a9a9a9;
}
.infor-tab .dateCX{
	width: 87px;
	height: 22px;
}
.infor-tab input[name="goods_img"]{
	color: #666;
	font-size: 12px;
}
.infor-tab input[name="goods_img_url"]{
	margin: 5px 0;
	width: 255px;
	height: 22px;
	color: #aaa;
}
.infor-tab input[name="auto_thumb"]{
	display: inline-block;
	vertical-align: middle;
}
/*infor-tab02-------------------------------------------------*/
.infor-tab02 .detail-con{
	border: 1px solid #CCCCCC;
    background-color: #FFF;
    overflow: hidden;
}
.detail-con .detail-top{
	border-bottom: 1px solid #CCC;
    background-color: #F0F0EE;
    padding: 2px 5px;
    cursor: pointer;
}
.detail-con .de-bar{
	position: relative;
	background-color: #F0F0EE;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    height: 11px;
}
.de-bar .center-icon{
	display: block;
    background-position: 0px -754px;
    width: 15px;
    height: 11px;
    background-image: url(/imgs/default.png);
    margin: auto;
}
.de-bar .right-icon{
	position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    background-position: -5px -741px;
    width: 11px;
    height: 11px;
    background-image: url(/imgs/default.png);
}










.button{
	text-align: center;
	margin: 5px 0;
}
/*footer-------------------------------------------------------*/
#footer{
	background: #f3f3f3 url(/imgs/th_bg.gif) repeat-x;
    border: 1px solid #ddd;
    padding: 15px;
    color: #9CACAF;
    margin: 10px 0;
    text-align: center;
}
